*{margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:
  Poppins,sans-serif;}
body{
  background:radial-gradient(circle at top,#1b0f38,#120826);
  color:#fff;
}

/* NAV */
.navbar{
  padding:20px 8%;
  display:flex;
  justify-content:space-between;
  align-items:center;
}
.logo{
  font-size:26px;
  font-weight:700;
    font-size: 3rem;
}
.logo span{
  color:#d4107f;
  font-size: 3rem;
}


nav a{
  margin:0 14px;
  font-size: 1.4rem;
  gap: 20px;
  text-decoration: dashed;
  color:#cfc9ff;
}
.bt{
  text-align: center;
  padding:10px 22px;
  border-radius:30px;
  font-size: 2rem;
  background-color:#ff3cac;
  color:#fff;
}
.outline{
  background:none;
  border:1px solid #7f6cff;
} 




/* about */
#about{
    padding-top: 130px;
}


/* #about.about-container{
  width: 1600px;
  height: 640px;
} */


.section-heading h2{
  font-size: 4rem;
}
#about .about-container {
    text-align: center;
    padding: 200px 50px 200px 120px;
}

#about .about-container .about-info {
    display: flex;
    justify-content:space-around;
}

.about-info .info-card p {
    font-size: 20px;
    line-height: 30px;
    color: #757575
}
.about-info .info-card h1{
  font-size:4rem;
}

.section-heading h6 {
  line-height: 20px;
  font-size:1rem;
}
.section-heading .he{
  line-height: 148px;
}
.about-container .info-card h1{
  color: #00FF88;
}
.about-info{
  margin:150px auto 120px;
}